<p>
  <strong><%= comment.commenter %>:</strong>
  <%= comment.body %>
  <%= link_to '(x)', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
