<% if @post.errors.any? %>
  <div id="error_explanation", class="alert alert-error">
    <a class="close" data-dismiss="alert">&#215;</a>
    <h4>Houston, we have a problem...</h4>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>