<%= simple_form_for(@post) do |f| %>
  <%= render 'shared/form_errors' %>

  <div class="form-inputs">
    <%= f.input :title, autofocus: true %>
    <%= f.input :text, as: :text, input_html: { cols: 100, rows: 5 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
