<% provide(:title, "All Posts") %>

<h1 class='text-center'>All Yo' Posts</h1>

<p class='text-center'>
  <%= link_to 'New post', new_post_path, class: 'btn btn-primary btn-large' %>
</p>

<% if @posts.any? %>
  <%= pluralize(@posts.count, 'post') %>

  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Text</th>
      <th></th>
      <th></th>
    </tr>

    <% @posts.each do |post| %>
      <tr>
        <th><%= post.id %></th>
        <td><%= link_to post.title, post %></td>
        <td><%= post.text %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to '(x)', post_path(post),
                  method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h3 class="alert alert-success text-center">Come on now, let's get blogging!</h3>
<% end %>