<!-- SEO, baby! Check application_helper.rb & application.html.erb for more info -->
<% provide(:title, @post.title) %>
<!-- http://api.rubyonrails.org/classes/ActionView/Helpers/TextHelper.html#method-i-truncate -->
<% provide(:description, truncate(@post.text, length: 140)) %> 

<h2 class="text-center"><%= @post.title %></h2>
 
<p>
  <%= @post.text %>
</p>

<hr>

<% if @post.comments.any? %>
  <!-- http://api.rubyonrails.org/classes/ActionView/Helpers/TextHelper.html#method-i-pluralize -->
  <h4>
    <%= pluralize(@post.comments.count, 'Comment') %>
  </h4>
  <%= render @post.comments %>
<% else %>
  <h4>No comments...</h4>
<% end %>
 
<hr>

<h4>Got something to say?</h4>
<%= render "comments/form" %>
 
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>