/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Some helpful guides & links:

// CSS tutorial & resources: https://developer.mozilla.org/en-US/docs/Web/CSS
// SASS tutorial: http://sass-lang.com
// Twitter Bootstrap guide & reference: http://getbootstrap.com
// Bootswatch, free themes for Bootstrap: http://bootswatch.com (currently using Journal)
// Bootsnipp - all kinds of widgets & code snippets for Bootstrap: http://bootsnipp.com
// Interactively learn CSS for free: http://www.codecademy.com

$baseFontFamily: 'Noto Sans', sans-serif;
$sansFontFamily: 'Noto Sans', sans-serif;

// http://www.colorpicker.com to find the color code for any colors you want
$linkColor: #1F7AC4;
$linkColorHover: darken($linkColor, 20%);

// Bootswatch theme variables
@import "bootswatch/journal/variables";

// Bootstrap itself
@import "bootstrap";

// Bootswatch theme
@import "bootswatch/journal/bootswatch";

// Font-awesome scalable icons (loaded from font-awesome CDN)
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

// Google Fonts fontset I like. They have hundreds to chose from.
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
  color: #000000;
  -webkit-font-smoothing: antialiased;
  background-image: url(/assets/tweed.png);
  margin-top: 0px;
}

#body-container {
  width: 780px; 
  border: 1px solid black; 
  background-color: white; 
  margin-top: 0em; 
  padding: 2em;
}

@mixin roundcorners($radius) {
  -moz-border-radius: $radius;    // firefox
  -webkit-border-radius: $radius; // safari/chrome
  border-radius: $radius;         // CSS3, works in IE9
}

.rounded { 
  @include roundcorners(5px);
}

@mixin shadow($color: #333333) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: 0px 1px 2px $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}

.shadow {
  @include shadow(#111111);
}