<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="<%= meta_description(yield(:description)) %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="body-container" class='container-narrow shadow rounded'>

    <%= render 'layouts/messages' %>

    <%= yield %>
  
  </div> 

</body>
</html>
